<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Top Page - fb</title>
</head>
<body>
	<!--<form enctype="multipart/form-data" action="{{ post_url }}" method="POST">-->
	<form enctype="multipart/form-data" action="/facebook/test_graph_api/" method="POST">
		<input type="hidden" name="MAX_FILE_SIZE" value="100000" />
		<input type="hidden" name="access_token" value="{{ access_token }}" />
		Choose a file to upload: <input name="file" type="file" /><br />
		<input type="submit" value="Upload File" />
	</form>
	
</body>
</html>
